[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://github.com/ElDesalmado/sdl2-cmake-modules.git
[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/entt"]
	path = vendored/entt
	url = https://github.com/skypjack/entt.git
